on:
  push:
    branches:
      - main
name: Deploy website on label
jobs:
  web-deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
    - name: Get latest code
      uses: actions/checkout@v2.3.2
    
    - name: Sync files
      uses: SamKirkland/FTP-Deploy-Action@4.0.0
      with:
        server: istvanberta.eu
        username: github.istvanberta.eu
        password: ${{ secrets.ftp_password }}
